@use "../Tools/mixins" as *;
@use "../Setting/colors" as colors;
@use "../Setting/variables";

html {
  font-size: 62.5%;
}

body {
  color: colors.$ColorBlack;
  font-size: 1.6rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

a {
  color: colors.$ColorBlack;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.c {
  &-button {
    background: none;
    border: none;
    cursor: pointer;
    & > img {
      width: auto;
      height: vw(170);
    }
  }
}